[alias]
	br = branch
	cm = commit -S -m
	dt = difftool
	dts = difftool --staged
	l = log --oneline --graph
	s = status
	sw = switch
	undoto = reset --hard
[commit]
	gpgSign = true
[core]
	editor = nvim
[diff]
	tool = nvimdiff
[gpg]
	format = ssh
[init]
	defaultBranch = main
[merge]
	tool = nvimdiff
[user]
	email = tony@tonydang.com
	name = Tony Dang
	signingKey = ~/.ssh/id_ed25519